/* contact page */
.contact-information {
    padding: 100px 0;
}

.row {
    width: 100%;
    display: grid;
    align-content: center;
    grid-template-columns: repeat(2, 1fr);
}

.row .col-info {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    padding: 0 50px;
}

.row .col-info.location-info {
    gap: 10px;
}

@media (min-width: 1150px) {
    .row .col-info.location-info {
        gap: 30px;
    }
}

.row .col img {
    width: 100%;
}

.row .col h3 {
    text-transform: capitalize;
    margin-bottom: 8px;
}

.row .col p {
    color: var(--text);
}

.row .col a.get-direction {
    color: var(--black);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
    transition: 0.6s ease-in-out;
}

.row .col a.get-direction:hover {
    color: var(--primary);
}

.row .col p.col-mobile {
    display: flex;
    gap: 8px;
    justify-content: flex-start;
}

.row .col p.col-mobile span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--text);

    svg {
        height: 16px;
        width: 16px;
    }
}

.row .col p.col-mobile a {
    color: var(--black);
    transition: 0.5s ease-in-out;
}

.row .col p.col-mobile a:hover {
    color: var(--primary);
}

.row .col .socials-container {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;

    a svg {
        height: 20px;
        width: 20px;
    }

    a svg:hover {
        transform: scale(1.2);
        color: var(--primary);
    }
}

.col-info form {
    width: 100%;
}

.contact-form-row {
    display: grid;
    gap: 30px 20px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 30px;
}

.contact-form-row input,
.contact-form-row textarea {
    height: 50px;
    padding: 10px;
    background-color: var(--light-bg);
    font-family: var(--font-family);
    border: 1px solid transparent;
    border-radius: 5px;
    color: var(--tertiary-color);
    font-size: 17px;
    outline: none;
}

.contact-form-row input:focus,
.contact-form-row textarea:focus {
    border-color: var(--primary-color);
}

.contact-form-row input[type="email"],
.contact-form-row textarea {
    grid-column: span 2 / span 2;
}

.contact-form-row textarea {
    height: 120px;
}

.contact-info form button {
    position: relative;
    border: none;
    margin: auto;
    cursor: pointer;
}

@media (max-width: 900px) {
    .row {
        gap: 30px 0;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 900px) {
    .row {
        grid-template-columns: 1fr;
    }

    .row .col-info {
        padding: 30px;
    }

    .row .col-info.location-info {
        gap: 30px;
    }

    .row .col-info.location-info:nth-child(3) {
        order: 2;
    }

    .row .col-img.location-img:nth-child(4) {
        order: 1;
    }

    .row .col-img.location-img:nth-child(5) {
        order: 3;
    }

    .row .col-info.location-info:nth-child(6) {
        order: 4;
    }

    .row .col img {
        /* width: 90%; */
        display: block;
        margin: auto;
    }

    .contact-form-row {
        gap: 20px;
        margin-bottom: 20px;
    }
}

@media (max-width: 600px) {
    .row .col-info {
        padding: 0px;
    }

    .contact-form-row input,
    .contact-form-row textarea {
        grid-column: span 2 / span 2;
    }
}